
@{
    ViewBag.Title = "Error";
    string error = ViewBag.err as string;
}

<style>
    .error-message {
        margin-top: 150px;
        display: flex;
        text-align: center;
        justify-content: center;
        font-family: 'Merriweather', serif;
        color: #002D62;
    }
</style>

<div class="error-message">
    <h1>Nešto je pošlo po krivu! Molimo vratite se na početnu stranicu i pokušajte ponovo.</h1>
</div>



