
@model Application.Models.ApplicationPassword
@{
    ViewBag.Title = "New Password";
    int id = (int)ViewBag.id;
}

<style>
    #headline {
        font-family: 'Merriweather', serif;
        font-size: 3vh;
        color: #002D62;
    }

    .login-form{
        position:fixed;
        top:30%;
        left:25%;
    }

    .btn {
        font-size: 1.6vh;
    }

    
</style>


<div class="login-form w-50" data-aos="fade-down">

    @using (Html.BeginForm(new { id = id }))
    {
        <h1 class="p-3 mb-3" id="headline">New password</h1>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <img src="../images/key-icon.svg" alt="" width="40px" height="40px" class="mx-3">
            </div>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control mr-4" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>


        <div class="input-group">
            <div class="input-group-prepend">
                <img src="../images/key-icon.svg" alt="" width="40px" height="40px" class="mx-3">
            </div>
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control mr-4" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>

        <div class="d-flex justify-content-center">
            <button class="btn btn-primary">Submit</button>
        </div>

        
    }
</div>

<script>
    function revealUserPassword() {
        var z = document.getElementById("newUserPassword")

        if (z.type === "password") {
            z.type = "text"
        }
        else {
            z.type = "password"
        }
    }
</script>

